{% extends "base.html" %}
{% load crispy_forms_tags%}
{% load static %}

{% block content %}

<body>

    <div class="col" style="margin-top: 10px; position:fixed">
    <div class="row">
    <div id="demo" class="carousel" data-ride="carousel" data-interval="1500">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static '/icons/top_tech_01.jpg' %}" alt="top_tech_01.jpg" style="height:100%;width:100%">
          </div>
          <div class="carousel-item">
            <img src="{% static '/icons/top_tech_02.jpg' %}" alt="top_tech_02.jpg" style="height:100%;width:100%">
          </div>
          <div class="carousel-item">
            <img src="{% static '/icons/top_tech_03.jpg' %}" alt="top_tech_03.jpg" style="height:100%;width:100%">
          </div>
          <div class="carousel-item">
            <img src="{% static '/icons/top_tech_04.jpg' %}" alt="top_tech_04.jpg" style="height:100%;width:100%">
          </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>

        <div class="col-auto">
        <div class="login-section" style="position:fixed">
            <form method="POST">
                {% csrf_token%}
                <fieldset class="form-group">
                    <legend class="border-bottom">Login</legend>
                    {{ form | crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>
</div>

</body>
{% endblock content %}