{% load static %}

<!DOCTYPE html>

<html lang="en">

<style>

.bg-steel {
  background-color: black;
}

.footer{
position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: white;
   text-align: center;
}

@media (max-width: 768px){
    #theradome-proonto {
        position: fixed;
        bottom: 30px;
        right: 12px;
        background: white;
        z-index: 99999;
        -webkit-backface-visibility: hidden;
        display: block !important; /* this line is important! */
    }
}

</style>

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="theme-color" content="#33b5e5">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Magik Eye</title>
    {% endif %}
</head>
    
    <!-- Css for the whole page -->
	<link rel='stylesheet' id='compiled.css-css'  href='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.19.1.min.css?ver=4.19.1' type='text/css' media='all' />

</head>

<body class="fixed-sn mdb-skin-custom" data-spy="scroll" data-target="#scrollspy" data-offset="15">
  
<!-- Sidebar navigation -->
<div id="slide-out" class="side-nav sn-bg-4 mdb-sidenav fixed">
  <ul class="custom-scrollbar list-unstyled" style="max-height:100vh; padding-bottom:90px; position:relative;">
          <li class="logo-sn d-block waves-effect">
        <div class="text-center">
		  <img src="{% static '/icons/mke_logo.png' %}" width="100px;">
        </div>
      </li>
      <!--/. Logo -->
  </ul>
  <div class="sidenav-bg mask-strong"></div>
</div>
<!--/. Sidebar navigation -->


<header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="position:fixed">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'home' %}">Magik Eye</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'home' %}" style="color:white"><h4>Datasets</h4></a>&ensp;
                <a class="nav-item nav-link" href="{% url 'jobs' %}" style="color:white"><h4>Jobs</h4></a>&ensp;
                {% if request.user.is_superuser %}
                <a class="nav-item nav-link" href="{% url 'admin-view' %}" style="color:white"><h4>Adminview</h4></a>
                {% endif %}
              {% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav" style="float:right">
                 {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'profile' %}" style="color:white" title="View profile"><h4>{{ request.user.username }}</h4></a>
                &ensp;<a class="nav-item nav-link" href="{% url 'logout' %}" style="color:white"><h4>Logout</h4></a>
                {% endif %}

            </div>
            <!-- /Navbar Right Side -->
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% if messages %}
                <div id="notification" style="padding-top:20px;">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
          {% block content %}{% endblock %}
        </div>

      </div>
    </main>


<div class="container-fluid mt-2">
 <style>
	div.dataTables_wrapper div.dataTables_filter select,div.dataTables_wrapper div.dataTables_length input,div.dataTables_wrapper div.dataTables_length select{width:auto}table.dataTable thead{cursor:pointer}div.dataTables_wrapper div.dataTables_length.d-flex.flex-row label{margin-top:1.2rem;margin-right:1rem}div.dataTables_wrapper div.dataTables_length.d-flex.flex-row .select-wrapper.mdb-select .select-dropdown,div.dataTables_wrapper div.dataTables_length.d-flex.flex-row .select-wrapper.mdb-select span{margin-top:1rem}div.dataTables_wrapper div.dataTables_filter label,div.dataTables_wrapper div.dataTables_length label{text-align:left;font-weight:400;padding-top:.5rem;padding-bottom:.5rem}div.dataTables_wrapper div.dataTables_info,div.dataTables_wrapper div.dataTables_paginate{font-weight:400;padding-top:1rem;padding-bottom:1rem}div.dataTables_wrapper div.dataTables_filter{text-align:right}div.dataTables_wrapper div.dataTables_filter input{width:auto;margin-left:.5rem;display:inline-block}div.dataTables_wrapper div.dataTables_paginate{text-align:right;margin:0}div.dataTables_wrapper div.dataTables_paginate ul.pagination{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end}div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus{background-color:#4285f4}div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item .page-link:focus{-webkit-box-shadow:none;box-shadow:none}@media (max-width:767px){div.dataTables_wrapper div .dataTables_filter,div.dataTables_wrapper div .dataTables_info,div.dataTables_wrapper div .dataTables_length,div.dataTables_wrapper div .dataTables_paginate ul.pagination{text-align:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}}.bs-select select{display:inline-block!important}table.dataTable thead>tr>td.sorting,table.dataTable thead>tr>td.sorting_asc,table.dataTable thead>tr>td.sorting_desc,table.dataTable thead>tr>th.sorting,table.dataTable thead>tr>th.sorting_asc,table.dataTable thead>tr>th.sorting_desc{padding-right:30px}table.dataTable thead>tr>td:active,table.dataTable thead>tr>th:active{outline:0}table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_desc_disabled{cursor:pointer;position:relative}table.dataTable thead .sorting:after,table.dataTable thead .sorting:before,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_desc:before,table.dataTable thead .sorting_desc_disabled:after,table.dataTable thead .sorting_desc_disabled:before{position:absolute;bottom:.9em;display:block;opacity:.3}table.dataTable thead .sorting:before,table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_desc:before,table.dataTable thead .sorting_desc_disabled:before{right:1em;content:"\f0de";font-family:'Font Awesome\ 5 Free';font-weight:900;font-size:1rem}table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_desc_disabled:after{content:"\f0dd";font-family:'Font Awesome\ 5 Free';font-weight:900;right:16px;font-size:1rem}table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_desc:after{opacity:1}table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_desc_disabled:after{opacity:0}

 </style>

<!--/Section: Intro-->



  <!--Section: Live preview-->





<div class="footer">
    <hr class="my-5">
<p style="text-align: center;color:black">Magik Eye Inc. (2020)</p>
</div>

</body>

</html>

